---
import JournalCard from "@/components/JournalCard.astro";
import Layout from "@/layouts/Base.astro";

import byzantine from "@/images/byzantine.jpg";
import ministry from "@/images/ministry.jpg";
import stm from "@/images/STM.png";
import habitat from "@/images/ktoa habitat.jpg";
import veteran from "@/images/ktoa veteran.jpg";

import { Image } from "astro:assets";

import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import Dialog from "@/components/UIDialog";
---

<Layout pageTitle="Portfolio">
    <section id="header" class="flex flex-col items-center justify-center p-8">
        <h1
            class="w-full rounded-sm border border-primary py-3 text-center font-display text-4xl font-bold md:w-auto md:px-20 md:text-5xl"
        >
            My portfolio
        </h1>
    </section>
    <section id="broadcast" class="space-y-8 p-8">
        <h2
            class="text-center font-display text-3xl uppercase underline decoration-border underline-offset-4"
        >
            Broadcast News
        </h2>
        <div class="grid justify-center gap-8 md:grid-cols-2">
            <Card className="flex flex-col">
                <CardHeader>
                    <CardTitle>
                        Vietnam veteran memorialized over Rapid Creek
                    </CardTitle>
                    <CardDescription>Reporting for KOTA News</CardDescription>
                </CardHeader>
                <CardContent>
                    <Image src={veteran} alt="" />
                </CardContent>
                <CardFooter className="mt-auto">
                    <Dialog
                        title="Vietnam veteran memorialized over Rapid Creek"
                        client:load
                    >
                        <iframe
                            src="https://www.youtube.com/embed/n4z2WjnjPRE?si=IN_xRdNWRdNH_9a5"
                            class="aspect-video w-full"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen></iframe>
                    </Dialog>
                </CardFooter>
            </Card>
            <Card className="flex flex-col">
                <CardHeader>
                    <CardTitle>
                        Habitat for Humanity tackles housing costs,
                        accessibility for man with paralysis
                    </CardTitle>
                    <CardDescription>Reporting for KOTA News</CardDescription>
                </CardHeader>
                <CardContent>
                    <Image src={habitat} alt="" />
                </CardContent>
                <CardFooter className="mt-auto">
                    <Dialog
                        title="Habitat for Humanity tackles housing costs, accessibility for man with paralysis"
                        client:load
                    >
                        <iframe
                            src="https://www.youtube.com/embed/TYXHAl53gkE?si=IN_xRdNWRdNH_9a5"
                            class="aspect-video w-full"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen></iframe>
                    </Dialog>
                </CardFooter>
            </Card>
        </div>
    </section>

    <section id="writing" class="space-y-8 p-8">
        <h2
            class="text-center font-display text-3xl uppercase underline decoration-border underline-offset-4"
        >
            Journalistic Writing
        </h2>
        <div class="flex flex-wrap gap-8 md:grid md:grid-cols-2 lg:grid-cols-3">
            <JournalCard
                title="Byzantine Rite offered at the University of Mary"
                byline="Written for the UMary Encounter"
                description="The University of Mary shows different religious practices by bringing in a Byzantine Catholic priest to perform the Ukrainian Rite at the University Chapel."
                link="/byzantine.pdf"
                linkText="Download PDF"
                downloadFilename="Eric Wesolick - Byzantine at UMary"
                image={byzantine}
                imageAlt="Our Lady of Annunciation chapel at the University of Mary in Bismarck, North Dakota"
            />
            <JournalCard
                title="Ministry on the Margins keeps its doors open during winter weather"
                byline="Written for the UMary Encounter"
                description="From 64 to -5 degrees, Ministry on the Margins keep their doors open all night to keep those struggling without a home safe from the extreme cold."
                link="/ministry.pdf"
                linkText="Download PDF"
                downloadFilename="Eric Wesolick - Ministry on the Margins"
                image={ministry}
                imageAlt="Ministry on the Margins in Bismarck, North Dakota"
            />
            <JournalCard
                title="Principal, 2 assistants to run private middle and high school at St. Thomas More"
                byline="Written for KOTA News"
                description="St Thomas More Middle and High School will now have one principal running both schools with two assistant principals taking over different aspects of the school."
                link="https://www.kotatv.com/2024/08/07/principal-2-assistants-run-private-middle-high-school-st-thomas-more/"
                linkText="Read story on KOTA TV"
                image={stm}
                imageAlt="St Thomas More Middle and High School in Rapid City, South Dakota"
            />
        </div>
    </section>
</Layout>
